@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: rgb(45, 45, 45);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  width: 80%;
  height: 95%;
  /* border: 1px solid #fff; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 25px -8px #000;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("image/heist2020.jpg") no-repeat center center/cover;
  opacity: 0.6;
  z-index: -1;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000);

  z-index: -1;
}

header video {
  position: absolute;
  width: 120%;
  height: 190%;
  top: -47%;
  z-index: -1;
}

header nav {
  width: 100%;
  height: 10%;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}
.logo_ul img {
  height: 58px;
  width: 100%;
}
header nav .logo_ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .logo_ul ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header nav .logo_ul ul li {
  padding: 3px 15px;
}

header nav .logo_ul ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s linear;
}

header nav .logo_ul ul li a:hover {
  color: rgb(255, 255, 255, 0.7);
}

header nav .search_user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .search_user input {
  padding: 3px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: rgb(255, 255, 255, 0.3);
  color: #fff;
  margin-right: 10px;
}

header nav .search_user input::placeholder {
  color: #fff;
}

header nav .search_user img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

header nav .search_user .search {
  position: absolute;
  width: 320px;
  height: 270px;
  /* border: 1px solid #fff; */
  right: 0;
  top: 40px;
  z-index: 99999;
  overflow-y: auto;
}

header nav .search_user .search::-webkit-scrollbar {
  width: 5px;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  visibility: hidden;
}
header nav .search_user .search::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgb(255, 255, 255, 0.4);
  border-radius: 5px;
  visibility: hidden;
}

header nav .search_user .search:hover::-webkit-scrollbar {
  visibility: visible;
}
header nav .search_user .search:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

header nav .search_user .search .card {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px 0px;
  text-decoration: none;
  display: none;
}

header nav .search_user .search .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  z-index: -1;
}
header nav .search_user .search .card img {
  width: 28px;
  height: 90%;
  border-radius: 2px;
  margin-left: 8px;
}

header nav .search_user .search .card .cont {
  margin-left: 10px;
  color: #fff;
}

header nav .search_user .search .card .cont h3 {
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

header nav .search_user .search .card .cont p {
  font-size: 10px;
  color: rgb(255, 255, 255, 0.8);
}

header nav .search_user .search .card .cont span {
  background: yellow;
  color: #000;
  padding: 0px 3px;
  margin: 0px 5px 0px 10px;
  font-weight: 500;
}
header .content {
  position: relative;
  color: #fff;
  margin-top: 50px;
  padding-left: 50px;
}

header .content h1 {
  font-size: 50px;
}
header .content p {
  font-size: 11px;
  width: 350px;
  word-break: break-all;
}

header .content p {
  font-size: 11px;
  width: 350px;
  word-break: break-all;
}

header .content .details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

header .content .details h6 {
  color: rgb(255, 255, 255, 0.8);
  font-size: 10px;
  margin-right: 10px;
}

header .content .details h5 {
  color: rgb(142, 230, 48);
  font-size: 10px;
  margin-right: 10px;
}

header .content .details h4 {
  color: #fff;
  font-size: 10px;
  margin-right: 10px;
}

header .content .details h3 {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 10px;
}

header .content .details h3 span {
  background: yellow;
  color: #000;
  padding: 0px 3px;
  margin: 0px 5px 0px 5px;
  font-weight: 500;
}

header .content .details h3 i {
  margin-right: 5px;
}

header .content .btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
header .content .btns a {
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(90deg, #00bdff, #0079ff);
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  animation: button 1s linear infinite;
}
@keyframes button {
  0% {
    background: linear-gradient(0deg, #00bdff, #0079ff);
  }
  12% {
    background: linear-gradient(45deg, #00bdff, #0079ff);
  }
  24% {
    background: linear-gradient(95deg, #00bdff, #0079ff);
  }
  36% {
    background: linear-gradient(145deg, #00bdff, #0079ff);
  }
  48% {
    background: linear-gradient(195deg, #00bdff, #0079ff);
  }
  60% {
    background: linear-gradient(245deg, #00bdff, #0079ff);
  }
  72% {
    background: linear-gradient(295deg, #00bdff, #0079ff);
  }
  100% {
    background: linear-gradient(360deg, #00bdff, #0079ff);
  }
}
header section {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 0px 50px;
  bottom: 20px;
  color: #fff;
}

header section .cards {
  position: relative;
  width: 100%;
  height: 190px;
  /* border: 1px solid #fff; */
  margin-top: 10px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}

header section .cards::-webkit-scrollbar {
  display: none;
}

header section .cards .card {
  position: relative;
  min-width: 130px;
  height: 180px;
  /* border: 1px solid #fff; */
  border-radius: 8px;
  margin-right: 10px;
  background: #000;
  transition: 3s linear;
}

header section .cards .card .poster {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

header section .cards .card:hover {
  min-width: 300px;
  overflow: hidden;
}

header section .cards .card .rest_card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  left: 0;
  top: 0;
  z-index: 999999;
  opacity: 0;
  transition: 1s linear;
}

header section .cards .card .rest_card img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
}

header section .cards .card .rest_card::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000);
  left: 0;
  bottom: 0;
  z-index: -1;
}

header section .cards .card .rest_card .cont {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  color: #fff;
  padding: 0px 20px;
}

header section .cards .card .rest_card .cont .sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header section .cards .card .rest_card .cont .sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header section .cards .card .rest_card .cont .sub p {
  font-size: 12px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.7);
}

header section .cards .card .rest_card .cont .sub h3 {
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
}

header section .cards .card .rest_card .cont .sub h3 span {
  background: yellow;
  color: #000;
  padding: 0px 3px;
  margin: 0px 5px 0px 10px;
  font-weight: 500;
  border-radius: 2px;
}

header section .cards .card:hover .rest_card {
  opacity: 1;
}

header section .bi-chevron-left,
.bi-chevron-right {
  position: absolute;
  top: 50%;
  left: 3%;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255, 0.3);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s linear;
  z-index: 999999999;
  opacity: 0;
}

header section .bi-chevron-right {
  left: unset;
  right: 3%;
}

header section:hover .bi-chevron-right {
  opacity: 1;
}

header section:hover .bi-chevron-left {
  opacity: 1;
}

/* styling login and register  */
.bodd {
  background-color: #fff;
}
a {
  text-decoration: none;
}
.header3 {
  position: fixed;
  height: 80px;
  width: 100%;
  background: gray;
  z-index: 100;
  padding: 0 20px;
  top: 0;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_logo,
.nav_link,
.button {
  color: #fff;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link {
  color: #fff;
}
.nav_link:hover {
  color: #d9d9d9;
}
.buttonLogin {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-image: url("/image/heist2020.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

/* form */
.form_container {
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  max-width: 320px;
  width: 100%;
  top: 20%;
  left: 50%;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgb(0, 0, 0, 0.1);
  z-index: 101;
  /* pointer-events: none; */
  transform: translate(-50%, -50%) scale(10.2s);
  opacity: 1;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 0;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(10.2s);
}

.signup_form {
  display: none;
}
.signup_form_login {
  display: block;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  transition: all 0.2s ease;
  color: #333;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.input_box i.email,
.input_box i.password {
  left: 0;
  /* color: #707070; */
}
.input_box input:focus i.email,
.input_box input:focus i.password {
  border: #7d2ae8;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
  accent-color: #7d2ae8;
}

.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
  font-size: 12px;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

#bgvid{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}






@media screen and (max-width: 1250px) {
  header video {
    position: absolute;
    width: 200%;
    height: 180%;
  }
}

@media screen and (max-width: 671px) {
  header {
    width: 100%;
    height: 100%;
  }

  header nav {
    padding: 0px 10px;
    height: 15%;
  }

  header nav .logo_ul ul {
    position: absolute;
    top: 0px;
    left: 10px;
  }

  header nav .logo_ul ul li {
    padding: 3px 5px;
  }

  header nav .logo_ul ul li a {
    font-size: 10px;
  }

  header .content {
    padding-left: 10px;
  }

  header section {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 788px) {
  header video {
    position: absolute;
    width: 520%;
    height: 180%;
  }
}


@media screen and (max-width: 420px) {

  .header3 {
    position: fixed;
    height: 80px;
    width: 100%;
    background: gray;
    z-index: 100;
    padding: 0 20px;
    top: 0;
  }
}

@media screen and (max-width: 420px) {

  .form_container {
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 320px;
    width: 100%;
    top: 20%;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0, 0.1);
    z-index: 101;
    /* pointer-events: none; */
    transform: translate(-50%, -50%) scale(10.2s);
    opacity: 1;
    transition: all 0.4s ease-out;
  }
}
@media screen and (max-width: 420px) {

  section video {
    
    height: 100%;
    width: 100%;
    
  }
}



